#gascanonT {
  margin-top: 7%;
  width: 100%;
  display: flex;
  justify-content: center;
  & img {
    width: 250px;
    height: 85px;
  }
}

#video {
  margin-top: 5%;
}

#Contact {
  margin-top: 5%;
}

@media (max-width: 1024px) {
  #Contact {
    margin-top: 10%;
  }
}

@media (max-width: 414px) {
  #gascanonT {
    margin-top: 20%;
  }
  #video {
    margin-top: 13%;
  }
  #Contact {
    margin-top: 12%;
  }
}

@media (max-width: 375px) {
  #gascanonT {
    margin-top: 20%;
  }
}
