#alfagasT {
  width: 100%;
  display: flex;
  justify-content: center;
  & img {
    width: 250px;
    height: 100px;
  }
}

#video {
  margin-top: 5%;
}

#alfagasContact{
  margin-top: 5%;
}

@media (max-width: 1024px) {
  #alfagasContact{
    margin-top: 10%;
  }
}



@media (max-width: 414px) {
  #video {
    margin-top: 13%;
  }
  #alfagasContact{
    margin-top: 12%;
  }
}
