<div class="col-12">
  <div id="auregasT">
    <img src="../../../../../assets/logos/auregas.png" alt="" />
  </div>

  <div class="container">
    <!-- 16:9 aspect ratio -->
    <div id="video">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          src="https://www.youtube.com/embed/Hp__tcvnEnk"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

<div id="auregasContact">
  <div class="card-group">
    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img
          src="../../../../../assets/img/auregas_01.jpg"
          alt="Card image cap"
        ></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img
          src="../../../../../assets/img/auregas_02.jpg"
          alt="Card image cap"
        ></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img
          src="../../../../../assets/img/auregas_03.jpg"
          alt="Card image cap"
        ></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
    </mdb-card>
  </div>
</div>
