#auregasT {
  margin-top: 7%;
  width: 100%;
  display: flex;
  justify-content: center;
  & img {
    width: 250px;
    height: 100px;
  }
}


#video {
  margin-top: 5%;
}


#auregasContact{
  margin-top: 5%;
}


@media (max-width: 1024px) {
  #auregasContact{
    margin-top: 10%;
  }
}



@media (max-width: 414px) {
  #auregasT {
    margin-top: 20%;

  }
  #video {
    margin-top: 13%;
  }
  #auregasContact{
    margin-top: 12%;
  }
}


@media (max-width: 375px) {

}
