#nos {
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
}

#nos div div > span {
  display: flex;
  width: 100%;
  justify-content: center;

  & p {
    margin-top: 9%;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: #41434d;
    font-size: 50px;
  }
}

// font-family: 'Oswald', sans-serif;
#LA {
  display: block;
  width: 20vw;
  height: 5px;
  background: #ddc700;
  margin-top: -12px;
}
#LR {
  display: block;
  width: 15vw;
  height: 5px;
  background: #bf0e0e;
  margin-top: 3px;
  margin-bottom: 6%;
}

.CardsD {
  display: block;
  height: 47vh;
  border: 2px #41434d solid;
}

#tituloMision {
  font-size: 45px !important;
  text-align: center !important;
  position: relative;
  & span {
    position: absolute;
    & img {
      width: 50px;
      height: 50px;
      margin-left: -5vw;
      margin-top: -10px;
    }
  }
}

#tituloVision {
  font-size: 45px !important;
  text-align: center !important;
  // position: relative;
  & span {
    // position: absolute;
    & img {
      width: 50px;
      height: 50px;
      margin-left: -5vw;
      margin-top: -10px;
    }
  }
}

#tituloValores {
  font-size: 45px !important;
  text-align: center !important;
  // font-family: 'Oswald', sans-serif;

  position: relative;
  & span {
    position: absolute;
    & img {
      width: 50px;
      height: 50px;
      margin-left: -5vw;
      margin-top: -10px;
    }
  }
}

.CardsD > .card-body > .card-text {
  font-size: 19px !important;

  font-family: "Roboto", sans-serif !important;
}

#lista {
  display: block;
  width: 100%;
  align-items: center;
  & ul {
    & li {
      font-family: "Roboto", sans-serif !important;
      font-size: 19px !important;
    }
  }
}

// MISION LINEAS
.LineRM {
  margin-top: 35px;

  display: block;
  width: 40% !important;
  height: 25px;
  background: #bf0e0e;
  margin-left: -7%;
}
.LineYM {
  margin-top: 15px;
  display: block;
  width: 80% !important;
  height: 25px;
  margin-left: -7%;

  background: #ddc700;
}

// VISION LINEAS
.LineRV {
  display: block;
  width: 40% !important;
  height: 25px;
  background: #bf0e0e;
  margin-left: -7%;
}
.LineYV {
  margin-top: 15px;
  display: block;
  width: 80% !important;
  height: 25px;
  margin-left: -7%;

  background: #ddc700;
}

// VALORES LINEAS
.LineRVALOR {
  margin-top: 24px;
  display: block;
  width: 40% !important;
  height: 25px;
  background: #bf0e0e;
  margin-left: -7%;
}
.LineYVALOR {
  margin-top: 15px;
  display: block;
  width: 80% !important;
  height: 25px;
  margin-left: -7%;

  background: #ddc700;
}

// MEDIA QUERYS PARA RESPONSIVE!!!!!!!!!!!!!!!!!!!!!!!!!!!

@media (max-width: 1027px) {
  #nos {
    width: 100%;
    height: 50vh;
    background: #f2f2f2;
  }
  .CardsD {
    height: 28vh;
  }
  // MISION LINEAS
  .LineRM {
    margin-top: 65px;
    margin-left: -8%;
  }
  .LineYM {
    margin-top: 15px;
    margin-left: -8%;
  }

  // VISION LINEAS
  .LineRV {
    display: block;
    margin-left: -8%;
  }
  .LineYV {
    margin-top: 15px;
    margin-left: -8%;
  }

  // VALORES LINEAS
  .LineRVALOR {
    margin-top: 50px;
    margin-left: -8%;
  }
  .LineYVALOR {
    margin-top: 15px;
    margin-left: -8%;
  }
}

// 768 PX

@media (max-width: 768px) {
  #nos {
    height: 130vh;
  }
  #LA {
    width: 30vw;
    height: 5px;
  }
  #LR {
    width: 25vw;
    height: 5px;
  }

  #tituloMision {
    margin-top: 0% !important;

    & span {
      & img {
        margin-left: -10vw;
      }
    }
  }

  #tituloValores {
    margin-top: 0% !important;

    & span {
      & img {
        margin-left: -10vw;
      }
    }
  }

  #tituloVision {
    margin-top: 0% !important;
  }
  .CardsD > .card-body > .card-text {
    margin-top: 0% !important;
  }

  // MISION LINEAS
  .LineRM {
    margin-top: 65px;
    margin-left: -3%;
  }
  .LineYM {
    margin-top: 15px;
    margin-left: -3%;
  }

  // VISION LINEAS
  .LineRV {
    display: block;
    margin-top: 40px;
    margin-left: -3%;
  }
  .LineYV {
    margin-top: 15px;
    margin-left: -3%;
  }

  // VALORES LINEAS
  .LineRVALOR {
    margin-top: -10px;
    margin-left: -3%;
  }
  .LineYVALOR {
    margin-top: 15px;
    margin-left: -3%;
  }
}

@media (max-width: 414px) {
  #nos {
    width: 100%;
    height: 190vh;
    background: #f2f2f2;
  }

  #nos div div > span {
    & p {
      font-size: 45px;
      margin-top: 16% ;
    }
  }

  #LA {
    width: 60vw;
    height: 5px;
  }
  #LR {
    width: 40vw;
    height: 5px;
    margin-bottom: 50px;
  }

  .CardsD {
    display: block;
    height: 46vh;
    border: 2px #41434d solid;
  }

  #tituloMision {
    margin-top: 0% !important;
    // margin: 0;
    border: 0;
    padding: 0;
    margin-top: -30%;
    & span {
      & img {
        margin-left: -15vw;
      }
    }
  }

  #tituloValores {
    & span {
      & img {
        margin-left: -15vw;
      }
    }
  }

  // MISION LINEAS
  .LineRM {
    margin-top: 65px;
    margin-left: -7%;
    height: 23px;
  }
  .LineYM {
    margin-top: 15px;
    margin-left: -7%;
    height: 23px;
  }

  // VISION LINEAS
  .LineRV {
    display: block;
    margin-top: 40px;
    margin-left: -7%;
    height: 23px;
  }
  .LineYV {
    margin-top: 15px;
    margin-left: -7%;
    height: 23px;
  }

  // VALORES LINEAS
  .LineRVALOR {
    margin-top: 40px;
    margin-left: -7%;
    height: 23px;
  }
  .LineYVALOR {
    margin-top: 15px;
    margin-left: -7%;
    height: 23px;
  }
}

@media (max-width: 411px) {
  // MISION LINEAS
  .LineRM {
    margin-top: 80px;
    margin-left: -7%;
    height: 23px;
  }
  .LineYM {
    margin-top: 15px;
    margin-left: -7%;
    height: 23px;
  }

  // VISION LINEAS
  .LineRV {
    display: block;
    margin-top: 60px;
    margin-left: -7%;
    height: 23px;
  }
  .LineYV {
    margin-top: 15px;
    margin-left: -7%;
    height: 23px;
  }

  // VALORES LINEAS
  .LineRVALOR {
    margin-top: 60px;
    margin-left: -7%;
    height: 23px;
  }
  .LineYVALOR {
    margin-top: 15px;
    margin-left: -7%;
    height: 23px;
  }
}

@media (max-width: 375px) {
  .CardsD {
    display: block;
    height: 49vh;
    border: 2px #41434d solid;
  }
  .LineRM {
    margin-top: 45px;
    margin-left: -7%;
    height: 23px;
  }
  .LineYM {
    margin-top: 15px;
    margin-left: -7%;
    height: 23px;
  }

  // VISION LINEAS
  .LineRV {
    display: block;
    margin-top: 20px;
    margin-left: -7%;
    height: 23px;
  }
  .LineYV {
    margin-top: 15px;
    margin-left: -7%;
    height: 23px;
  }

  // VALORES LINEAS
  .LineRVALOR {
    margin-top: 20px;
    margin-left: -7%;
    height: 23px;
  }
  .LineYVALOR {
    margin-top: 15px;
    margin-left: -7%;
    height: 23px;
  }
}

@media (max-width: 360px) {
  #nos {
    width: 100%;
    height: 220vh;
    background: #f2f2f2;
  }
  .CardsD {
    display: block;
    height: 55vh;
    border: 2px #41434d solid;
  }
  .LineRM {
    margin-top: 70px;
    margin-left: -8%;
    height: 23px;
  }
  .LineYM {
    margin-top: 15px;
    margin-left: -8%;
    height: 23px;
  }

  // VISION LINEAS
  .LineRV {
    display: block;
    margin-top: 20px;
    margin-left: -8%;
    height: 23px;
  }
  .LineYV {
    margin-top: 15px;
    margin-left: -8%;
    height: 23px;
  }

  // VALORES LINEAS
  .LineRVALOR {
    margin-top: 45px;
    margin-left: -8%;
    height: 23px;
  }
  .LineYVALOR {
    margin-top: 15px;
    margin-left: -8%;
    height: 23px;
  }
}

@media (max-width: 320px) {
  #nos {
    width: 100%;
    height: 240vh;
    background: #f2f2f2;
  }
  .CardsD {
    display: block;
    height: 60vh;
    border: 2px #41434d solid;
  }
  #tituloMision {
    & span {
      & img {
        width: 40px;
        height: 35px;
        margin-left: -15vw;
      }
    }
  }

  #tituloValores {
    & span {
      & img {
        width: 40px;
        height: 35px;
        margin-left: -15vw;
      }
    }
  }
  #tituloVision {
    & span {
      & img {
        width: 40px;
        height: 35px;
        margin-left: -15vw;
      }
    }
  }

  // MISION LINEAS
  .LineRM {
    margin-top: 70px;
    margin-left: -9%;
    height: 23px;
  }
  .LineYM {
    margin-top: 15px;
    margin-left: -9%;
    height: 23px;
  }

  // VISION LINEAS
  .LineRV {
    margin-top: 6px;

    margin-left: -9%;
  }
  .LineYV {
    margin-left: -9%;
  }

  // VALORES LINEAS
  .LineRVALOR {
    margin-top: 40px;

    margin-left: -9%;
  }
  .LineYVALOR {
    margin-left: -9%;
  }
}
