<section id="Nosotros">
  <div id="nos">
    <div class="col-12">
      <div class="container">
        <span><p>NOSOTROS</p></span>
        <span> <span id="LA"></span></span>
        <span><span id="LR"></span></span>

        <!--  -->
        <div class="row">
          <div class="col-lg-4 mb-5">
            <span class="CardsD">
              <div class="card-body">
                <p id="tituloMision">
                  <span
                    ><img
                      src="../../../../assets/logos/circulo_logo.png"
                      alt=""
                  /></span>
                  Misión
                </p>
                <p class="card-text">
                  Ser lider en servicios, brindado la mejor calidad para hacer
                  la diferencia.
                </p>
                <span class="LineRM" ></span>
                <span class="LineYM" ></span>
              </div>
            </span>
          </div>
          <!--  -->
          <div class="col-lg-4 mb-5">
            <span class="CardsD">
              <div class="card-body">
                <p id="tituloVision">
                  <span
                    ><img
                      src="../../../../assets/logos/circulo_logo.png"
                      alt=""
                  /></span>
                  Visión
                </p>
                <p class="card-text">
                  Ser un grupo sólido, reconocido por su calidad humana y
                  creciendo día a día con el compromiso de ser los únicos
                </p>

                <span class="LineRV" ></span>
                <span class="LineYV" ></span>
              </div>
            </span>
          </div>

          <!--  -->
          <div class="col-lg-4 mb-5">
            <span class="CardsD" id="valor">
              <div class="card-body">
                <p id="tituloValores">
                  <span
                    ><img
                      src="../../../../assets/logos/circulo_logo.png"
                      alt=""
                  /></span>
                  Valores
                </p>
                <span id="lista">
                  <ul class="card-text ">
                    <li>Honestidad</li>
                    <li>Amabilidad</li>
                    <li>Responsabilidad</li>
                    <li id="compromisoV">Compromiso</li>
                  </ul>
                </span>
                <span class="LineRVALOR" ></span>
                <span class="LineYVALOR" ></span>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
