#ali {
  width: 100%;
  height: 820vh;
  background: #f2f2f2;
}

#ali div > span {
  display: flex;
  width: 100%;
  justify-content: center;

  & p {
    margin-top: 9%;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: #41434d;
    font-size: 50px;
  }
}

#LA {
  display: block;
  width: 20vw;
  height: 5px;
  background: #ddc700;
  margin-top: -12px;
}
#LR {
  display: block;
  width: 15vw;
  height: 5px;
  background: #bf0e0e;
  margin-top: 3px;
  margin-bottom: 6%;
}

@media (max-width: 1024px) {
  #ali {
    width: 100%;
    height: 380vh;
    background: #f2f2f2;
  }
}


@media (max-width: 768px) {
  #ali {
    width: 100%;
    height: 397vh;
    background: #f2f2f2;
  }
  #LA {
    width: 33vw;
    height: 5px;
  }
  #LR {
    width: 25vw;
    height: 5px;
  }
}

@media (max-width: 414px) {
  #ali {
    width: 100%;
    height: auto;
    background: #f2f2f2;
  }
  #LA {
    width: 60vw;
    height: 5px;
  }
  #LR {
    width: 40vw;
    height: 5px;
    margin-bottom: 50px;
  }

  #ali div > span {
    & p {
      font-size: 45px;

      margin-top: 16% !important;
    }
  }
}

@media (max-width: 411px) {
  #ali {
    width: 100%;
    background: #f2f2f2;
  }

}


@media (max-width: 375px) {
  #ali {
    width: 100%;
    background: #f2f2f2;
  }
}



@media (max-width: 360px) {

  #ali {
    width: 100%;
    background: #f2f2f2;
  }

  #ali div > span {
    & p {
      margin-top: 15% !important;
    }
  }
}

@media (max-width: 320px) {
  #ali {
    width: 100%;
    background: #f2f2f2;
  }

}
