<section id="Aliados">
  <div id="ali">
    <div class="container">
      <span><p>ALIADOS</p></span>
      <span> <span id="LA"></span></span>
      <span><span id="LR"></span></span>
    </div>

    <!-- alfagas -->
    <app-alfagas></app-alfagas>
    <!-- Auregas -->
    <app-auregas></app-auregas>
    <!-- gas cañon -->
    <app-gas-canon></app-gas-canon>
    <!-- gas lux -->
    <app-gas-lux></app-gas-lux>
    <!-- hacienda nueva gasolinera -->
    <app-hacienda-nueva></app-hacienda-nueva>

  </div>
</section>
