<section id="Servicios">
  <div id="nos">
    <div class="col-12">
      <div class="container">
        <span><p>Servicios</p></span>
        <span> <span id="LA"></span></span>
        <span><span id="LR"></span></span>

        <!--  -->
        <div class="row">
          <div class="col-lg-4 mb-5">
            <span class="CardsD">
              <div
                class="card-body"
                style="
                  background-image: url('../../../../assets/img/gasolina.png');
                "
              >
                <p id="tituloMision">
                  <span
                    ><img
                      src="../../../../assets/logos/circulo_logo.png"
                      alt=""
                  /></span>
                  Gasolina
                </p>
                <p class="card-text">
                  Venta y Distribucion de combustible
                </p>
                <span class="LineRM"></span>
                <span class="LineYM"></span>
              </div>
            </span>
          </div>
          <!--  -->
          <div class="col-lg-4 mb-5">
            <span class="CardsD">
              <div
                class="card-body"
                style="
                  background-image: url('../../../../assets/img/disel.png');
                "
              >
                <p id="tituloVision">
                  <span
                    ><img
                      src="../../../../assets/logos/circulo_logo.png"
                      alt=""
                  /></span>
                  Diésel
                </p>
                <p class="card-text">
                  Ventas y Distribuciones de diésel
                </p>

                <span class="LineRV"></span>
                <span class="LineYV"></span>
              </div>
            </span>
          </div>

          <!--  -->
          <div class="col-lg-4 mb-5">
            <span class="CardsD" id="valor">
              <div
                class="card-body"
                style="
                  background-image: url('../../../../assets/img/fuego.png');
                "
              >
                <p id="tituloValores">
                  <span
                    ><img
                      src="../../../../assets/logos/circulo_logo.png"
                      alt=""
                  /></span>
                  Gas Lp
                </p>
                <span id="lista">
                  <ul class="card-text" style="list-style: none;">
                    <li>Venta y Distribucion de Gas Lp</li>
                  </ul>
                </span>
                <span class="LineRVALOR"></span>
                <span class="LineYVALOR"></span>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
