
<section id="Contacto">
  <div id="nos">
    <div class="container">
      <span><p>CONTACTO</p></span>
      <span> <span id="LA"></span></span>
      <span><span id="LR"></span></span>




<div class="col-12" id="contactoCentrar">

  <!--Grid column-->
  <div class="col-lg-5 my-4 mb-5" >

    <!--Form with header-->
    <mdb-card>

      <mdb-card-body>
        <!--Header-->
        <div class="form-header  accent-1">
          <h3>
            <mdb-icon fas style="color: #41434D; text-align: center;" icon="envelope"></mdb-icon> Contactanos</h3>
          </div>

          <br>

          <!--Body-->
          <div class="md-form">
            <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
            <input mdbInput type="text" id="form3" class="form-control" placeholder="Escribe tu nombre">
          </div>

          <div class="md-form">
            <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
            <input mdbInput type="text" id="form2" placeholder="Escribe tu email" class="form-control">
          </div>



          <div class="md-form">
            <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
            <textarea mdbInput type="text" id="form8" placeholder="Escribe tu mensaje" class="md-textarea"></textarea>
         </div>

          <div class="text-center">
            <button  style="background: #41434D; color: white;" class="btn " mdbWavesEffect>Submit</button>
          </div>

        </mdb-card-body>

      </mdb-card>

    </div>
  </div>



  </div>
</div>
</section>
