#imagenInicio {
  height: 100vh;
  background-image: url("../../../../assets/img/inicio.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
// parte gris del logo
#pglg {
  display: block;
  position: absolute;
  margin-top: 85px;
  width: 40%;
  height: 88.5vh;
  background: rgba(0, 0, 0, 0.377);
  border-radius: 3px;
}

#logoInicio {
  width: 100%;
  height: 88.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#logoInicio > img {
  width: 350px;
  height: 250px;
}

// Ipad
@media (max-width: 768px) {
  #pglg {
    margin-top: 81px;
  }
  #logoInicio > img {
    width: 250px;
    height: 180px;
  }
}

// IPHONE 414px
@media (max-width: 414px) {
  #pglg {
    margin-top: 74px;
    width: 100%;
  }
  #logoInicio > img {
    width: 300px;
    height: 220px;
  }
}

@media (max-width: 375px) {
  #pglg {
    margin-top: 65px;
    height: 90vh;
  }
}

@media (max-width: 375px) {
  #logoInicio > img {
    width: 250px;
    height: 180px;
  }
}

@media (max-width: 375px) {
  // parte gris del logo
  #pglg {
    height: 87vh;
  }
}
